Louisiana[[:space:]]Parish[[:space:]]Map[[:space:]]Design.gdb/** filter=lfs diff=lfs merge=lfs -text
*.aprx filter=lfs diff=lfs merge=lfs -text
*.atbx filter=lfs diff=lfs merge=lfs -text
Data/**/*.zip filter=lfs diff=lfs merge=lfs -text
Data/**/*.shp filter=lfs diff=lfs merge=lfs -text
Data/**/*.dbf filter=lfs diff=lfs merge=lfs -text
Data/**/*.shx filter=lfs diff=lfs merge=lfs -text
Data/**/*.prj filter=lfs diff=lfs merge=lfs -text
Docs/**/*.docx filter=lfs diff=lfs merge=lfs -text
*.pdf filter=lfs diff=lfs merge=lfs -text
